{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Healthcare Options</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Page content -->
<div class="w3-content">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <br>
    <h2 class="title" style="font-weight: bold; color:#c26a3a;">Healthcare Options</h2>
    <br>
      <div class="w3-col s12" style="text-align:left">
        <a href="" style="color:#c19a84">Save this resource</a>
      </div>
      <br>
      <p class="w3-justify" style="text-align:left !important;font-size:20px;color:#c19a84">The Human Resources and
          Services Administration, a department of the U.S. Department of Health and Human Services, offers a searchable
          database of health clinics that provide free and/or accessible care.
          <br><a href="https://findahealthcenter.hrsa.gov/" style="color:#A4765B">Find a health center in your area</a></p>
      <br>
      <p class="w3-justify" style="text-align:left !important;font-size:20px;color:#c19a84">The National Healthcare for
          the Homeless Council has a searchable list of health care providers that help those who are experiencing homelessness.
          <br><a href="https://www.nhchc.org/resources/grantees/national-hch-grantee-directory/" style="color:#A4765B">Find a clinic in your area</a></p>
      <br>
      <p class="w3-justify" style="text-align:left !important;font-size:20px;color:#c19a84">The National Association of
          Free and Charitable Clinics offers a national map of health providers who offer free care.
          <br><a href="http://www.nafcclinics.org/find-clinic" style="color:#A4765B">Find a free or charitable clinic in your area</a></p>
  </div>
</div>

{% endblock content %}