{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'stylesheets/login.css' %}">
</head>

<div>
  <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signup-image">
                        <figure><img src="{% static 'images/login-image.jpg' %}" class="img" style="height: 300px;"></figure>
                        <a href="{% url 'register_user' %}" class="signup-link">Need to Sign Up? Click here</a>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock content %}