{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Help for Specific Populations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Page content -->
<div class="w3-content">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
    <br>
    <h2 class="title" style="font-weight: bold; color:#c26a3a;">Help for Specific Populations</h2>
    <br>
      <div class="w3-col s12" style="text-align:left">
        <a href="" style="color:#c19a84">Save this resource</a>
      </div>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-container" style="background-color: #fcf7f5">
  <br>
  <div class="w3-content">
    <div class="w3-threequarter">
      <h1 style="font-size:30px;color:#c26a3a;">Veterans</h1>
      <ul class="w3-text-grey">
          <li style="color:#A4765B"><a style="font-weight:bold">The National Call Center for Homeless Veterans</a>, from the U.S. Department of Veteran
            Affairs, provides confidential counseling 24/7 for veterans at risk of homelessness and their families. <br> <a href="https://www.va.gov/HOMELESS/NationalCallCenter.asp">Website</a> | Call 1-877-424-3838</li>
        <br>
          <li style="color:#A4765B"><a style="font-weight:bold">The National Coalition for Homeless Veterans</a> has a directory of local service providers
              and general help navigating resources for veterans who are experiencing homelessness.  <br> <a href="http://www.nchv.org/index.php/help/help/locate_organization/">Find a local provider</a>
              | <a href="http://nchv.org/index.php/help">View Resources </a> | Call 1-800-VET-HELP</li>
        <br>
        <br>
          <li style="color:#A4765B"><a style="font-weight:bold">The Veterans Crisis Line</a> offers an online chat with a
              mental health clinician 24/7. <br><a href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat">Chat online </a>| Call 1-800-273-8255 (press 1) | Text 838255</li>
        <br>
      </ul>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-container" style="background-color:#fff4f0">
  <br>
  <div class="w3-content">
    <div class="w3-third w3-center">
    </div>
    <div class="w3-threequarter" style="float:right">
      <h1 style="font-size: 30px; text-align:right;color:#c26a3a;">Domestic Violence</h1>
        <ul class="w3-text-grey">
          <li style="color:#A4765B"><a style="font-weight:bold">The National Domestic Violence Hotline</a> offers
              confidential 24/7 hotline and online chat to anyone who is experiencing domestic violence, seeking resources
              or information, or questioning any unhealthy aspects of a relationship. Call 1-800-799-SAFE (7233) |
              <br> <a href="http://www.thehotline.org/">Chat online</a> | <a href="http://www.thehotline.org/help/path-to-safety/"> Make a safety plan</a></li>
        <br>
      </ul>
    </div>
  </div>
</div>
<div class="w3-row-padding w3-container" style="background-color: #fcf7f5">
  <br>
  <div class="w3-content">
    <div class="w3-threequarter">
      <h1 style="font-size:30px;color:#c26a3a;">Young People</h1>
      <ul class="w3-text-grey">
          <li style="color:#A4765B"><a style="font-weight:bold">The National Runaway Safeline</a> offers services and a
              confidential 24/7 hotline for young people who are at risk of experiencing homelessness.  <br> <a href="https://www.1800runaway.org/">Website</a> | Call 1-800-786-2929</li>
        <br>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}